<div class="container">
  <div class="row">
    <div class="col col-12">
      <h3 class="mb-3 text-success mt-3">Post in evidenza</h3>
      <app-single-post [post]="postCasuale[0]"></app-single-post>
    </div>
  </div>
  <div class="row mt-3">
    <h3 class="mt-4 mb-2 text-success">Post che potrebbero piacerti</h3>
    <div
      class="col col-3 mt-3 p-3 d-flex flex-column"
      *ngFor="let post of postCasuale.slice(1)"
    >
      <app-single-post [post]="post"></app-single-post>
    </div>
  </div>
</div>

<h3 class="mb-3 text-center text-success mt-3">Tutti i nostri posts</h3>

<div class="container">
  <div class="row row-cols-3 g-4 justify-content-center mt-3">
    <div class="col" *ngFor="let post of arrayPost">
      <app-single-post [post]="post">
        <input
          [(ngModel)]="post.title"
          class="my-2"
          type="text"
          placeholder="Modifica titolo"
        />
        <input
          [(ngModel)]="post.body"
          type="text"
          placeholder="Modifica paragrafo"
        />
      </app-single-post>
    </div>
  </div>
</div>
